body{
    background-color: pink;
}

.content{

}
.mainBody{
    width: 800px;
    margin: 0 auto;
    min-height: 600px;
    padding: 20px;
    background-color: #FFFFFF;
    overflow: auto;
    border-radius: 10px;
}

.banner img{
    width: 100%;
    height: 200px;
}

.banner{
    margin-bottom: 20px;
}

.product{
    width:150px;
    height: 150px;
    border: lightgrey dashed 1px;
    float:left;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
}

.product img{
	width: 80%;
	height: 80%;
    margin-left: 10%;
}

.authForm div, .addProductForm div{
	float: left;
	width: 100%;
    min-height: 40px;
}

.authForm, .addProductForm{
	width: 500px;
}

.authForm label, .addProductForm label{
	display: block;
	width:150px;
	float: left;
}

.authForm input, .addProductForm input, .addProductForm textarea{
	float: left;
	width: 250px;
}

.addProductForm div.formButton{
    margin-left: 150px;
}

.product label{
    text-align: center;
    display: block;
    font-weight: bold;

}

.menuBar a {
    border: dashed grey 2px;
    padding: 15px;
    text-decoration: none;
    color: darkgoldenrod;
    display: block;
    width: 10%;
    float: left;
    margin-right: 20px;
    text-align: center;
    border-radius: 15px;
}

.menuBar{
    width: 100%;
    float: left;
    margin-bottom: 20px;
}