body{
    background-color: #FFF;
}

.mainBody{
    width: 800px;
    margin: 0 auto;
    /*border: solid #444444 1px;*/
    /*min-height: 500px;*/
    padding: 20px;
}

.banner img{
    width: 100%;
    height: 200px;
}

.banner{
    margin-bottom: 20px;
}

.product{
    width:150px;
    height: 150px;
    border: red solid 1px;
    float:left;
    margin: 10px;
}