body{
    background-color: #FFF;
}

.mainBody{
    width: 800px;
    margin: 0 auto;
    /*border: solid #444444 1px;*/
    /*min-height: 500px;*/
    padding: 20px;
}

.banner img{
    width: 100%;
    height: 200px;
}

.banner{
    margin-bottom: 20px;
}

.product{
    width:150px;
    height: 150px;
    border: lightgrey dashed 1px;
    float:left;
    margin: 10px;
}

.product img{
	width: 100%;
	height: 100%;
}

.authForm div, .addProductForm div{
	float: left;
	width: 100%;
    min-height: 40px;
}

.authForm, .addProductForm{
	width: 500px;
}

.authForm label, .addProductForm label{
	display: block;
	width:150px;
	float: left;
}

.authForm input, .addProductForm input, .addProductForm textarea{
	float: left;
	width: 250px;
}

.addProductForm div.formButton{
    margin-left: 150px;
}